:root {
    /* colors */
    --grey-900: hsl(0, 0%, 8%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-700: hsl(0, 0%, 20%);
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);

    /* font regular (Inter Regular 400) */
    --font-regular-family: "Inter", serif;
    --font-regular-optical-sizing: auto;
    --font-regular-weight: 400;
    --font-regular-style: normal;

    /* font semibold (Inter SemiBold 600) */
    --font-semibold-family: "Inter", serif;
    --font-semibold-optical-sizing: auto;
    --font-semibold-weight: 600;
    --font-semibold-style: normal;

    /* font bold (Inter Bold 700) */
    --font-bold-family: "Inter", serif;
    --font-bold-optical-sizing: auto;
    --font-bold-weight: 700;
    --font-bold-style: normal;

    /* text preset 1 */
    --tp1-font-family: var(--font-semibold-family);
    --tp1-font-optical-sizing: var(--font-semibold-optical-sizing);
    --tp1-font-weight: var(--font-semibold-weight);
    --tp1-font-style: var(--font-semibold-style);
    --tp1-font-size: 24px;
    --tp1-line-height: 150%;
    --tp1-letter-spacing: 0px;

    /* text preset 2 */
    --tp2-font-family: var(--font-regular-family);
    --tp2-font-optical-sizing: var(--font-regular-optical-sizing);
    --tp2-font-weight: var(--font-regular-weight);
    --tp2-font-style: var(--font-regular-style);
    --tp2-font-size: 14px;
    --tp2-line-height: 150%;
    --tp2-letter-spacing: 0px;

    /* text preset 2 bold */
    --tp2-bold-font-family: var(--font-bold-family);
    --tp2-bold-font-optical-sizing: var(--font-bold-optical-sizing);
    --tp2-bold-font-weight: var(--font-bold-weight);
    --tp2-bold-font-style: var(--font-bold-style);
    --tp2-bold-font-size: 14px;
    --tp2-bold-line-height: 150%;
    --tp2-bold-letter-spacing: 0px;

    /* spacing */

    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--grey-900);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links-profile {
    /* size and layout */
    width: 327px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    padding: var(--spacing-300);
    align-content: stretch;
    text-align: center;

    /* background color */
    background-color: var(--grey-800);

    /* borders */
    border-radius: 12px;
}

.social-links-profile .profile-pic {
    /* size */
    width: 88px;
    height: 88px;
    align-self: center;

    /* border */
    border-radius: 50%;
}

.social-links-profile .name-location {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
    align-content: center;
}

.social-links-profile .name {
    font-family: var(--tp1-font-family);
    font-optical-sizing: var(--tp1-font-optical-sizing);
    font-weight: var(--tp1-font-weight);
    font-style: var(--tp1-font-style); 
    font-size: var(--tp1-font-size);
    line-height: var(--tp1-line-height);
    letter-spacing: var(--tp1-letter-spacing);
    color: var(--white);
}

.social-links-profile .location {
    font-family: var(--tp2-bold-font-family);
    font-optical-sizing: var(--tp2-bold-font-optical-sizing);
    font-weight: var(--tp2-bold-font-weight);
    font-style: var(--tp2-bold-font-style); 
    font-size: var(--tp2-bold-font-size);
    line-height: var(--tp2-bold-line-height);
    letter-spacing: var(--tp2-bold-letter-spacing);
    color: var(--green);
}

.social-links-profile .bio {
    font-family: var(--tp2-font-family);
    font-optical-sizing: var(--tp2-font-optical-sizing);
    font-weight: var(--tp2-font-weight);
    font-style: var(--tp2-font-style); 
    font-size: var(--tp2-font-size);
    line-height: var(--tp2-line-height);
    letter-spacing: var(--tp2-letter-spacing);
    color: var(--white);

    /* Adding quotes in CSS since it's style rather than content */
    &:before {
        content: "\"";
    }
    &:after {
        content: "\"";
    }
}

.social-links-profile .links {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.social-links-profile .link-button {
    display: block;
    background-color: var(--grey-700);
    padding: var(--spacing-150);
    transition: all 600ms;
    
    /* text */
    font-family: var(--tp2-bold-font-family);
    font-optical-sizing: var(--tp2-bold-font-optical-sizing);
    font-weight: var(--tp2-bold-font-weight);
    font-style: var(--tp2-bold-font-style); 
    font-size: var(--tp2-bold-font-size);
    line-height: var(--tp2-bold-line-height);
    letter-spacing: var(--tp2-bold-letter-spacing);
    color: var(--white);
    text-decoration: none;

    /* border */
    border-radius: 8px;

    &:hover {
        color: var(--grey-700);
        background-color: var(--green);
    }
}

footer {
    font-family: var(--tp2-font-family);
    font-optical-sizing: var(--tp2-font-optical-sizing);
    font-weight: var(--tp2-font-weight);
    font-style: var(--tp2-font-style);
    font-size: 11px;
    line-height: var(--tp3-line-height);
    letter-spacing: var(--tp3-letter-spacing);
    color: var(--white);
    text-align: center;

    & a {
        color: var(--green);
    }
}

/* Any screen with a width at least 768px is considered a tablet or desktop. */
@media (min-width: 768px) {
    .social-links-profile {
        width: 384px;
        padding: var(--spacing-500);
    }
}